export const firebaseConfig = {
    apiKey: "AIzaSyAIG0jJSSmi9naVRyo1to1Qj3_qXjiU3rM",
    authDomain: "my-project-1500134577736.firebaseapp.com",
    databaseURL: "https://my-project-1500134577736.firebaseio.com",
    projectId: "my-project-1500134577736",
    storageBucket: "my-project-1500134577736.appspot.com",
    messagingSenderId: "355329657895"
}